*{
    /*background: radial-gradient(#FFADC3, #FFEAC3, #F7F7F7)*/
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: Garamond;
    font-size: 25px;
    color:white;
}
h2{
    text-align: center;
    color: #621931;
    font-size: 40px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    background-color: #FFADC3;
    width: 250px;
    height: 60px;
    border-radius: 0px 0px 5px 0px ;
}


body{
    /*background-color:#FFADC3;*/
    background: radial-gradient(#FFADC3, #FFEAC3, #F7F7F7);
    /*padding:5%;*/
}
.sec1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainsec{
    background: transparent;
    border: 4px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border-radius: 10px 10px 10px 10px;
    margin-top: 90px;
    height: 400px;
    width: 400px;
    padding: 70px;

}

.str{
    margin-top: 10px;
    color: #621931;
}
.str2{
    margin-top: 10px;
    color: #621931;
    text-decoration: none;
}

.buscador{
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de transparencia */
    border: 1px solid #cccccc00;
    padding: 15px;
    font-size: 16px;
    color: #621931;
    outline: none;


    border-radius: 10px 10px 10px 10px;
    padding-right: 40px;
    margin-top: 15px;
}

.log{
    color: #621931;
    background-color: #FFADC3;
    border-radius: 5px;
    border: 1px solid #cccccc00;
    width: 250px;
    height: 30px;
}

.log:hover{
    background: white;
    color: #FFADC3;
}